#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */

  font-weight: normal;
}

.sky-blue {
  color: #C0E5FF;
}

.lime-green {
  color: #77CF1A;
}

.blue1 {
  color: #3779FF;
}

.blue2 {
  color: #3793FF;
}

.blue3 {
  color: #37ACFF;
}

.blue4 {
  color: #6BC2FF;
}



